In [9]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [6]:
# Index Levels
outside = ['G1', 'G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [7]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [10]:
df = pd.DataFrame(randn(6,2), hier_index, ['A', 'B'])

In [11]:
df

             A         B
G1 1  0.832961  1.027507
   2  0.291436  0.018179
   3 -0.687155  0.805746
G2 1 -0.576636  0.385381
   2  0.060988 -1.066588
   3 -0.589011  1.403517

In [14]:
df.loc['G1'].loc[1]['A']

0.832961216655069

In [15]:
df.index.names

FrozenList([None, None])

In [16]:
df.index.names = ['Groups', 'Num']

In [17]:
df

                   A         B
Groups Num
G1     1    0.832961  1.027507
       2    0.291436  0.018179
       3   -0.687155  0.805746
G2     1   -0.576636  0.385381
       2    0.060988 -1.066588
       3   -0.589011  1.403517

In [18]:
df.loc['G2'].loc[2]['B']

-1.0665879528610835

In [19]:
df.xs('G1')

            A         B
Num
1    0.832961  1.027507
2    0.291436  0.018179
3   -0.687155  0.805746

In [20]:
df.xs(1, level='Num')

               A         B
Groups
G1      0.832961  1.027507
G2     -0.576636  0.385381

In [21]:
df

                   A         B
Groups Num
G1     1    0.832961  1.027507
       2    0.291436  0.018179
       3   -0.687155  0.805746
G2     1   -0.576636  0.385381
       2    0.060988 -1.066588
       3   -0.589011  1.403517